body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(images/IMG-45-nextstepportal.jpg);
}

.navbar {
    background-color: #2c3e50;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    color: white;
    margin: 0;
    font-family: cursive;
}

.menu {
    list-style: none;
    display: flex;
}

.menu li {
    margin-left: 20px;
}

.menu a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.content {
    padding: 40px;
    text-align:left
}

.content h1 {
    color: #c3e1fc;
    font-family: cursive;
    padding: inherit;
}

.content p, ul, blockquote {
    font-size: 18px;
    color: white;
}

form input, form textarea, form button {
    width: 60%;
    padding: 10px;
    margin: 10px 0;
}
